li:hover {
    cursor: pointer;
}


/*label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}*/
input {
  display: inline-block;
  float: left;
}


.jumbotron {
    /*background: url('http://placekitten.com/800/500') no-repeat center center;*/
    height:260px;
    width:450px;
    /*background-size: 100% 100%;*/
    /*padding-top: 20%;
    padding-bottom: 20%;*/
    padding-left: 2%;
    position: relative;
    top: 1px;
		left: 350px;
  }

  li{
    /*background-color: #8a0b0b;*/
    /*background-image: url('../assets/free-music-background.jpg');*/

    }

   