

.jumbotron {
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  
}



li:hover {
    cursor: pointer;
}


input {
  display: inline-block;
  float: left;
}



  li{
    /*background-color: #8a0b0b;*/
    /*background-image: url('../assets/free-music-background.jpg');*/

    }

   