.jumbotron {
  position: relative;
  height:230px;/*260px*/
  width:350px;/*450px*/
  padding-left: 6%;/*orig 0%*/
  top: -50px;/*1px;*/
  left: 120px;/* orig PC -60px;/*350px;*/
  right:0px;
  bottom:0px;
  
}



li:hover {
    cursor: pointer;
}


input {
  display: inline-block;
  float: left;
}



  li{
    /*background-color: #8a0b0b;*/
    /*background-image: url('../assets/free-music-background.jpg');*/

    }

   