<!DOCTYPE html>

<!--Promise Sample-->
<!--TR <table class="table table-striped">
  <thead>
      <tr class="table-info">
          <th scope="col">#</th>
          <th scope="col">UID</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let result of data">
          <th scope="row">{{result.id}}</th>
          <td>{{result.userId}}</td>
          <td>{{result.title}}</td>
          <td>{{result.body}}</td>
      </tr>
  </tbody>
</table>-->

<!--<div style="background-color: gray">-->
<div style="background-image: url('assets/music-visualizer-live.jpg');">


<!--Promise Sample-->
<!--<div class="container">-->
  <!--ORIG<div class="jumbotron" style="background-image: url('assets/music-visualizer-live.jpg')">-->
    <!--<div class="jumbotron" style="background-color:black;">-->

    <h2><strong>Promised Music</strong></h2>

 
<form [formGroup]="itunesForm" (ngSubmit)="search(itunesForm.value)"><!--or itunesForm-->
  
  <mat-label style="color: white !important;">Artist\Song Name</mat-label><br>
 
  <mat-form-field>
    
    <input matInput  id="name" formControlName="name" style="background-color: white !important;color:gray;"
           placeholder="" (keyup.enter)="search(itunesForm.value)">                
    </mat-form-field>
    <br><br>
    <mat-label style="color: white !important;">Max rows</mat-label><br>

    <mat-form-field>
      <input matInput type="number"  id="rows" formControlName="rows" style="color:gray;">                
    
      </mat-form-field>
  
  


    <p>
      <br><br>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
 
 

 
 
  </form>

<!--</div>
</div>-->

  <!--<div class="panel panel-default">
    <div class="panel-body">A Basic Panel</div>
  </div>-->
  
  
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let track of results ; let i = index" [attr.data-index]="i" style="background-image: url('assets/digital_music_background.jpg')">
      <div class="container">
      <span class="badge">{{i+1}}</span>
      </div>
      <br>


    <!--<img src="{{track.artworkUrl30}}" class="img-circle" alt="{{track.artistName}}">-->    
    
    <button type="button" class="btn btn-info">
      <!--<span class="glyphicon glyphicon-list">--> 
        <img src="{{track.artworkUrl30}}" class="img-circle" alt="{{track.artistName}}">    

      <a target="_blank"
      href="{{track.artistViewUrl}}"> {{ track.artistName }}
      </a>
      <!--</span>-->
    </button>
    
    <br><br>
    <!--<button data-toggle="collapse" data-target="#demo">Collapsible</button>-->

    
    <button type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-music">

    <a target="_blank"
       href="{{track.trackViewUrl}}" style="color:yellowgreen;"> {{ track.trackName }}
    </a>
    </span>
    </button>

  

    <br>
    <span class="label label-warning">
     # <mark>Collection</mark> {{track.collectionName}}
  </span>
   <br>
   <span class="label label-default">

    # <mark>Primary genre name</mark> {{track.primaryGenreName}}
   </span>
<br>
       <!--<img src="{{track.artworkUrl30}}">-->
    
    
    
    <span class="label label-danger">
    # <mark>Release date</mark> {{track.releaseDate}}
    </span>
    <br>
    <span class="label label-info">
      # <mark>Country</mark> {{track.country}}
      </span>
  
    

    
  </li>
</ul>



<!--The content below is only a placeholder and can be replaced.-->
<!--TR <div style="text-align:center">
  <h1>
    Items {{count}}
  </h1>
</div>
<div>
<form [formGroup]="mForm" (ngSubmit)="add(mForm.value)">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput  id="name" formControlName="name">                
  </mat-form-field>

    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </form>
</div>

<h1>Your input: {{name}}</h1>  
<ul>
  <li *ngFor="let item of items; let i = index" (click)="delete(i)" (mouseover)="changeText=true" (mouseout)="changeText=false">
    
  <span *ngIf="changeText" >
    <del>{{ item.name }}</del>
  </span>

  <span *ngIf="!changeText">
    {{ item.name }}
  </span>
</li>
</ul>
-->


<!--<div (mouseover)="changeText=true" (mouseout)="changeText=false">
  <span *ngIf="!changeText">Hide</span>
</div>-->




