<!--Promise Sample-->
<!--TR <table class="table table-striped">
  <thead>
      <tr class="table-info">
          <th scope="col">#</th>
          <th scope="col">UID</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let result of data">
          <th scope="row">{{result.id}}</th>
          <td>{{result.userId}}</td>
          <td>{{result.title}}</td>
          <td>{{result.body}}</td>
      </tr>
  </tbody>
</table>-->

<!--Promise Sample-->
<div class="container">
  <div class="jumbotron">
    <strong>Apple Itunes - Music</strong>

 
<form [formGroup]="itunesForm" (ngSubmit)="search(itunesForm.value)"><!--or itunesForm-->
  

  <mat-form-field>
    <mat-label>Artist Name: </mat-label>
    <input matInput  id="name" formControlName="name" placeholder="Type artist name ..">                
  
    </mat-form-field>

    <p>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
 
 

 
 
  </form>

</div>
</div>

  <!--<div class="panel panel-default">
    <div class="panel-body">A Basic Panel</div>
  </div>-->

<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let track of results ; let i = index" [attr.data-index]="i">
      <div class="container">
      <span class="badge">{{i}}</span>
      </div>
      <img src="{{track.artworkUrl30}}" class="img-circle" alt="{{track.artistName}}">    
    <strong>#Artist {{track.artistName}}</strong>
    
    <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-playlist-music">

      <a target="_blank"
      href="{{track.artistViewUrl}}">{{ track.artistName }}
      </a>
      </span>
    </button>
  
    <h4>#Collection {{track.collectionName}}</h4>
    <h4>#PrimaryGenreName {{track.primaryGenreName}}</h4>

    <h4>{{track.country}}</h4>
    <!--<img src="{{track.artworkUrl30}}">-->
    
    <button type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-music">

    <a target="_blank"
       href="{{track.trackViewUrl}}" style="color:yellowgreen;"> {{ track.trackName }}
    </a>
    </span>
    </button>
    
    <br>
    
   
    <h5>#Release date {{track.releaseDate}}</h5>

    
    
  </li>
</ul>



<!--The content below is only a placeholder and can be replaced.-->
<!--TR <div style="text-align:center">
  <h1>
    Items {{count}}
  </h1>
</div>
<div>
<form [formGroup]="mForm" (ngSubmit)="add(mForm.value)">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput  id="name" formControlName="name">                
  </mat-form-field>

    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </form>
</div>

<h1>Your input: {{name}}</h1>  
<ul>
  <li *ngFor="let item of items; let i = index" (click)="delete(i)" (mouseover)="changeText=true" (mouseout)="changeText=false">
    
  <span *ngIf="changeText" >
    <del>{{ item.name }}</del>
  </span>

  <span *ngIf="!changeText">
    {{ item.name }}
  </span>
</li>
</ul>
-->


<!--<div (mouseover)="changeText=true" (mouseout)="changeText=false">
  <span *ngIf="!changeText">Hide</span>
</div>-->




